@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --color_header: rgb(200, 200, 200);
}

.hero {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    padding: 100px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.nav-links {
    display: flex;
    list-style: none;

}

.link {
    display: inline-block;
    text-decoration: none;
    color: #eee;
    padding: 10px;
    transition: all 0.2s ease;
}

.link:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    
}

.logo-title {
    color: #fff;
}

.main-div-container{
  display: grid;
  grid-template-columns: 450px 1fr;
}

.img-container img{
  width: 100%;
  height: 100%;
  background-size: center;
}

.ventas-container{
  display: grid;
  grid-template-rows: 150px 1fr;
}

.ventas-title{
  margin: 20px 0;
}

textarea {
    resize: none;
}

.form-container{
  display: grid;
  /* grid-auto-rows: 1fr; */
  grid-template-rows: repeat(7, 50px) 150px 50px;
  gap: 2rem;
}

button {
    background-color: lightblue;
    justify-self: center;
    padding: 0 75px;
    border: none;
    color: #fff;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(0, 0, 255);
}

.footer {
    background-color: var(--color_header);
    font-size: 20px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
}

.footer-links a {
    text-decoration: none;
    color: #000;
    padding: 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}
